<main>
    <nav class="click">
        <ul>
            <li><a href="/">Index</a><br></li>
            <li><a href="/home">Home</a><br></li>
            <li><a href="/about">About</a><br></li>
            <!-- <li><a href="/404">404</a><br></li> -->
            <li><a href="/blogs/create">Add Blog</a></li>
        </ul>
    </nav>
</main>